[buildout]
extensions = mr.developer
parts =
    gae_sdk
    gae_tools
    app_lib
    local_dependencies
    test_lib
    nosetests
versions = versions
app-dir = ${buildout:directory}/app
tests-dir = ${buildout:directory}/tests

[versions]
# pinned to versions that appengine includes
# https://cloud.google.com/appengine/docs/python/tools/libraries27
lxml = 2.3.5
pycrypto = 2.6
# 2.4 doesn't seem to work on appengine right now
requests = 2.3

[app_lib_base]
recipe = appfy.recipe.gae:app_lib
use-zipimport = false
ignore-globs =
    *.c
    *.pyc
    *.pyo

[local_dependencies]
<= app_lib_base
lib-directory = local
eggs =
#     pycrypto
#     lxml
#     pillow

[app_lib]
<= app_lib_base
# Sets the library dependencies for the app.
lib-directory = ${buildout:app-dir}/lib
# Define the libraries.
eggs =
    gaepytz
    jsonpickle

ignore-packages =
    lxml

[gae_sdk]
# Downloads and extracts the App Engine SDK.
recipe = appfy.recipe.gae:sdk
destination = ${buildout:parts-directory}
hash-name = false
clear-destination = true

[gae_tools]
# Installs appcfg, dev_appserver and python executables in the bin directory.
recipe = appfy.recipe.gae:tools
sdk-directory = ${gae_sdk:destination}/google_appengine
# Add these paths to sys.path in the generated scripts.
initialization =
    import dev_appserver
    dev_appserver.fix_sys_path()
extra-paths =
    ${buildout:app-dir}
    ${app_lib:lib-directory}
    ${local_dependencies:lib-directory}

[test_lib]
recipe = appfy.recipe.gae:app_lib
ignore-globs =
    *.c
    *.pyc
    *.pyo
    */test*

lib-directory = ${buildout:directory}/tests/lib
eggs =
    unittest2
    webtest
    mock
    fixture
extra-paths =
    ${buildout:app-dir}
    ${test_lib:lib-directory}
    ${gae_tools:sdk-directory}

[nosetests]
recipe = pbp.recipe.noserunner
eggs =
    nose
    nosegae
    coverage
    nose-exclude
extra-paths =
    ${buildout:app-dir}
    ${test_lib:lib-directory}
    ${gae_tools:sdk-directory}
defaults =
    --logging-level=INFO
    --with-gae
    --no-path-adjustment
    --gae-application=${buildout:app-dir}
    --with-noseexclude
    --exclude-dir=${test_lib:lib-directory}
    --exclude-dir=${app_lib:lib-directory}
    ${buildout:tests-dir}

